<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Admin</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            table, tr, td {
                border: 1px solid black;
                border-collapse: collapse;
                padding: 10px;
            }
        </style>
    </head>
    <body>
        <form action="/add" method="post" enctype="multipart/form-data">
        <input type ="text" name ="name" placeholder="Name">
        <br>
        <input type ="text" name ="desc" placeholder="desc">
        <br>
        <input type="file" name="image">
        <br>
        <button>Add</button>
        </form>
        <table>
            <tr>
                <td><h1>No.</h1></td>
                <td><h1>Name</h1></td>
                <td><h1>Desc</h1></td>
                <td><h1>Image</h1></td>
            </tr>
            <% products.forEach(e => { %>
                <tr>
                    <td><%= e._id %></td>
                    <td><%= e.name %></td>
                    <td><%= e.desc %></td>
                    <td><%= e.image %></td>
                    <td>
                        <a href="/xoa/<%= e._id %>">Xoa</a>
                        <a href="/sua/<%= e._id %>">Sua</a>
                    </td>
                </tr>
            <% }); %>
        </table>
    </body>
</html>